html{
  background-color: #a5d0f3;
  }

body{
    background-color: #FFFFFF;
    margin-left: 20%;
    margin-right: 20%;
    text-indent: 2%;
  }

h1 {
    text-align: center;
    font-family: calibri;
    color:#000000;
    font-size:50px;
  }

h2 {
    text-align: center;
    font-family: calibri;
    color:#404040;
    font-size:40px;
  }

h3 {
    font-family: calibri;
    color:#2F5496;
    font-size:30px;
  }

h4 {
    font-family: calibri;
    color:#2F5496;
    font-size:25px;
  }

h5 {
    font-style: italic;
    font-family: calibri;
    color:#2F5496;
    font-size:20px;
  }

p {
    text-align: justify;
    font-family: calibri;
    color:#404040;
    font-size:20px;
    text-indent: 0%;
    margin-left: +2%;
    margin-right: +2%;
  }

table{
  margin-left: +2%;
  margin-right: +2%;
  width: 98%;
  word-wrap: break-word;
}

td {
    font-family: calibri;
    color:#404040;
    font-size:20px;
    max-width: 100%;
  }

td:last-child{
    max-width: 20%;
  }

th{
  font-family: calibri;
  color:#2F5496;
  width: 20%;
  font-size: 18px;
  text-align: center;
}

ul {
    text-align: left;
    font-family: calibri;
    color:#404040;
    font-size:20px;
  }

a {
    color: inherit;
    font-family: calibri;
    font-style: italic;
    text-decoration: underline;
  }

hr {
    color:#2F5496;
  }

.center{
    margin-left: auto;
    margin-right: auto;
  }

img{
  width: 100%;
  height: auto;
  display:block;
}
